################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.gitignore
/Source/bin/Debug
/Source/obj/Debug
/Source/.vs/UniversalPatcher/v16
/Source/bin/
/Source/obj/
