<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UniversalPatcher.PcmHacking.PcmLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UniversalPatcher.PcmHacking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UniversalPatcher.PcmLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UniversalPatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <UniversalPatcher.PcmHacking.PcmLogger.Properties.Settings>
            <setting name="DeviceCategory" serializeAs="String">
                <value>DeviceCategory</value>
            </setting>
            <setting name="J2534DeviceType" serializeAs="String">
                <value>J2534DeviceType</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>SerialPort</value>
            </setting>
            <setting name="SerialPortDeviceType" serializeAs="String">
                <value>SerialPortDeviceType</value>
            </setting>
            <setting name="DeviceCategorySerial" serializeAs="String">
                <value>DeviceCategorySerial</value>
            </setting>
            <setting name="DeviceCategoryJ2534" serializeAs="String">
                <value>DeviceCategoryJ2534</value>
            </setting>
            <setting name="Enable4xReadWrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Lastprofile" serializeAs="String">
                <value />
            </setting>
            <setting name="EnablePassiveMode" serializeAs="String">
                <value>False</value>
            </setting>
        </UniversalPatcher.PcmHacking.PcmLogger.Properties.Settings>
        <UniversalPatcher.PcmHacking.Properties.Settings>
            <setting name="ProfilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggerUsepassivemode" serializeAs="String">
                <value>False</value>
            </setting>
        </UniversalPatcher.PcmHacking.Properties.Settings>
        <UniversalPatcher.PcmLogger.Properties.Settings>
            <setting name="DeviceCategory" serializeAs="String">
                <value>DeviceCategory</value>
            </setting>
            <setting name="J2534DeviceType" serializeAs="String">
                <value>J2534DeviceType</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>SerialPort</value>
            </setting>
            <setting name="SerialPortDeviceType" serializeAs="String">
                <value>SerialPortDeviceType</value>
            </setting>
            <setting name="DeviceCategorySerial" serializeAs="String">
                <value>DeviceCategorySerial</value>
            </setting>
            <setting name="DeviceCategoryJ2534" serializeAs="String">
                <value>DeviceCategoryJ2534</value>
            </setting>
            <setting name="Enable4xReadWrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Lastprofile" serializeAs="String">
                <value />
            </setting>
        </UniversalPatcher.PcmLogger.Properties.Settings>
        <UniversalPatcher.Properties.Settings>
            <setting name="LastXMLfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPATCHfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBINfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SuppressAfter" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DebugOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="AutorefreshCVNlist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutorefreshFileinfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowPersistence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EditXMLWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EditXMLWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="EditXMLWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FileSelectionWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FileSelectionWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FileSelectionWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TableEditorWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TableEditorWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TableEditorWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TableEditorAutoResize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TunerWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TunerWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TunerWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmGraphicsWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmGraphicsWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="frmGraphicsWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="disableTunerAutoloadSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TunerModeColumns" serializeAs="String">
                <value>TableName,Category,Units,Columns,Rows,TableDescription</value>
            </setting>
            <setting name="ConfigModeColumnOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigModeColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="TunerModeColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="TunerLogWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PatcherSplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmTdWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmTdWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="frmTdWindowLocaction" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MassCompareWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MassCompareWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MassCompareWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MassCompareSplitWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MassModifyTableDataWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MassModifyTableDataWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MassModifyTableDataWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MassModifyTableDataWindowSplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TunerMinTableEquivalency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TableEditorMinTableEquivalency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="keyPressWait100ms" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TableEditorMinOtherEquivalency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MassCopyTableWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MassCopyTableWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MassCopyTableWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MassCopyTableSplitHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MassCopyTableFilenameExtra" serializeAs="String">
                <value>-new</value>
            </setting>
            <setting name="TableExplorerIconSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="TableExplorerWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TableExplorerWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TableExplorerWindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TableExplorerUseCategorySubfolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TunerExplorerWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TunerExplorerWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TunerExplorerWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TunerExplorerWindowSplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TunerExplorerWindowSplitter2Distance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TunerTreeMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TunerAutomulti1d" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TunerListModeTreeWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MulitableChars" serializeAs="String">
                <value>. [ ]</value>
            </setting>
            <setting name="DisableAutoFixChecksum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkingMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CvnPopupAccepted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequireValidVerForStock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutomaticOpenImportedFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TunerShowUnitsUndefined" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TunerShowUnitsImperial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TunerShowUnitsMetric" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplashShowTime" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="xdfImportUseTableName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlashApp" serializeAs="String">
                <value>PCMHammer\pcmhammer.exe</value>
            </setting>
            <setting name="FLashParams" serializeAs="String">
                <value>--writecalibration $file</value>
            </setting>
            <setting name="LoggerUseIntegrated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoggerExternalApp" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggerComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggerLastProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggerLogFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggerLogSeparator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="LoggerJ2534Device" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggerPassive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggerUseJ2534" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggerSerialDeviceType" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggerResponseMode" serializeAs="String">
                <value>SendOnce</value>
            </setting>
            <setting name="LoggerUseFTDI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggerShowAdvanced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggerFTDIPort" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggerBaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="LoggerUsePriority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggerUseFilters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggerWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LoggerWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LoggerWindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LoggerEnableConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggerConsoleTimestamps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggerConsoleJ2534Timestamps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggerScriptDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LoggerJ2534SettingsFile" serializeAs="String">
                <value />
            </setting>
            <setting name="JConsoleDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="JConsoleTimestamps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JConsole4x" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoggerConsole4x" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoggerJ2534SettingsFile2" serializeAs="String">
                <value />
            </setting>
            <setting name="PasteSpecialMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PasteSpecialPositiveFormula" serializeAs="String">
                <value />
            </setting>
            <setting name="PasteSpecialNegativeFormula" serializeAs="String">
                <value />
            </setting>
            <setting name="PasteSpecialTarget" serializeAs="String">
                <value />
            </setting>
        </UniversalPatcher.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
