<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UniversalPatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <UniversalPatcher.Properties.Settings>
            <setting name="LastXMLfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPATCHfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBINfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SuppressAfter" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DebugOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="AutorefreshCVNlist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutorefreshFileinfo" serializeAs="String">
                <value>True</value>
            </setting>
        </UniversalPatcher.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
