<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UniversalPatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <UniversalPatcher.Properties.Settings>
            <setting name="LastXMLfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPATCHfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBINfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SuppressAfter" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DebugOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="AutorefreshCVNlist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutorefreshFileinfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowPersistence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EditXMLWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EditXMLWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="EditXMLWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FileSelectionWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FileSelectionWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FileSelectionWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TableEditorWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TableEditorWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TableEditorWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TableEditorAutoResize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TunerWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TunerWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TunerWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmGraphicsWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmGraphicsWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="frmGraphicsWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="disableTunerAutoloadSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TunerModeColumns" serializeAs="String">
                <value>id,TableName,Category,Units,Columns,Rows,TableDescription</value>
            </setting>
            <setting name="TunerConfigMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigModeColumnOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigModeColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="TunerModeColumnWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="TunerLogWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value />
            </setting>
            <setting name="frmTdWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmTdWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="frmTdWindowLocaction" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MassCompareWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MassCompareWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MassCompareWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MassCompareSplitWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MassModifyTableDataWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MassModifyTableDataWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MassModifyTableDataWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MassModifyTableDataWindowSplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TunerMinTableEquivalency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TableEditorMinTableEquivalency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="keyPressWait100ms" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TableEditorMinOtherEquivalency" serializeAs="String">
                <value>100</value>
            </setting>
        </UniversalPatcher.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
